header {
    padding: 5% 10% 5% 10%;
    margin-top: 5%;
}

article {
    padding: 0% 10% 5% 10%;
    margin-bottom: 5%;
}

main {
    width: 1024px;
    margin: 0 auto;
    background-color: #333333c0;
    border-radius: 20px;
    color: #f1f1f1;
}

body {
    background-image: url(my_fon.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main__head {
    display: flex;
}

.head__right {
    padding: 40px 0px 0px 20%;
}

.head__left {
    margin-left: 50px;
}

.head__right li{
    background: url(mark.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
    list-style-type: none;

}

.head__left img{
    width: 300px;
    height: 300px;
}

.main__skills li{
    background: url(mark.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
    list-style-type: none;
}

.main__summary {   
    text-align: center;
}

.main__summary h1{
    display: inline-block;
    border-bottom: 6px solid #056444cc;
    padding-bottom: 5px;
}

.main__skills { 
    text-align: center;
}

.main__skills h1{
    display: inline-block;
    border-bottom: 6px solid #056444cc;
    padding-bottom: 5px;
}

.skills__li {
    text-align: left;
    margin-left: 25%;
}

.main__code {   
    text-align: center;
    padding: 5% 0px 0px 0px;
}

.main__code h1{
    display: inline-block;
    border-bottom: 6px solid #056444cc;
    padding-bottom: 5px;
}

.main__experience {   
    text-align: center;
    padding: 5% 0px 0px 0px;
}

.main__experience h1{
    display: inline-block;
    border-bottom: 6px solid #056444cc;
    padding-bottom: 5px;
}

.main__education {   
    text-align: center;
    padding: 5% 0px 0px 0px;
}

.main__education h1{
    display: inline-block;
    border-bottom: 6px solid #056444cc;
    padding-bottom: 5px;
}

.main__english {   
    text-align: center;
    padding: 5% 0px 5% 0px;
}

.main__english h1{
    display: inline-block;
    border-bottom: 6px solid #056444cc;
    padding-bottom: 5px;
}
